In [1]:
#import libraries
import numpy as np
import pandas as pd

In [2]:
#read csv
df=pd.read_csv("final.csv")

In [3]:
df.shape

(105063, 7)

In [4]:
df.columns

Index(['Date', 'Company', 'Title', 'Location', 'Job Seniorty',
       'Company Industry', 'Job link'],
      dtype='object')

In [5]:
#Delete some columns
df=df.drop(columns=["Company Industry", "Job Seniorty", "Job link"])

In [6]:
df.columns

Index(['Date', 'Company', 'Title', 'Location'], dtype='object')

In [7]:
#delete %100 duplicated rows
df=df.drop_duplicates()

In [8]:
df.shape

(53330, 4)

In [9]:
#formating columns to lower
df.columns=df.columns.str.lower()

In [10]:
df.columns

Index(['date', 'company', 'title', 'location'], dtype='object')

In [11]:
#Checking data types
df.dtypes

date        object
company     object
title       object
location    object
dtype: object

In [12]:
#Coverting date column from str to date
df['date'] = pd.to_datetime(df['date'])

In [13]:
#Checking data types
df.dtypes

date        datetime64[ns]
company             object
title               object
location            object
dtype: object

In [14]:
#Checking nulls
df.isnull().sum()

date         0
company      0
title        0
location    25
dtype: int64

In [15]:
#Filling Null Values
df["location"]=df["location"].fillna("0")

In [16]:
#Checking nulls
df.isnull().sum()

date        0
company     0
title       0
location    0
dtype: int64

In [17]:
#Checking company columnn
df.company.value_counts()

Cronoshare.com                     5638
WIZBII                             2866
Page Personnel                     1564
Empresas IMAN                      1079
GRUPO IMAN                          866
                                   ...
Hotel Fuerte Mareblla                 1
IMPORTANTE EMPRESA DE SELECCIÓN       1
Vivenzia Home                         1
AGRUPACIÓN IUSTIME                    1
Mitie s.a.                            1
Name: company, Length: 8108, dtype: int64

In [18]:
#Checking title columnn
df.title.value_counts()

Prácticas online en el área de Content Marketing (SEO, SEM, Affiliate)    201
Gerente – Emprende tu negocio Mail Boxes Etc.                             156
Director asociado Mail Boxes Etc - Inscripción a webinar informativo      156
Director Comercial de franquícia Mail Boxes Etc.                          156
Adiestrador de perros para cachorro                                       145
                                                                         ...
Trabajo de limpiadora en Barcelona                                          1
Inspector/a de instalaciones Contraincendios NACIONAL                       1
Integration Developer                                                       1
Beca Administración y Contabilidad                                          1
Operarios/as Almacén (Nocturno)                                             1
Name: title, Length: 36664, dtype: int64

In [19]:
#Checking location columnn
df.location.value_counts()

Madrid                        11973
Barcelona                     10242
Valencia/València              2313
Málaga                         1671
Zaragoza                       1261
                              ...
Vallgorguina                      1
Tella                             1
Huécija                           1
Sant Bartomeu de la Quadra        1
Muros                             1
Name: location, Length: 1856, dtype: int64

In [20]:
#Export data to CSV
df=df.to_csv('df.csv',encoding='utf-8-sig', index=False)