In [1]:
#import libraries
import numpy as np
import pandas as pd
import csv

In [2]:
df=pd.read_csv("df3.csv")

In [3]:
df.head()

,date,company,title,location
0,2021-06-08,#AttittudTalent Atraer y Desarrollar el Talento,General_Manager,Madrid
1,2021-06-14,"PROCURA MANAGEMENT SERVICES, S.L",Customer_Service,Cataluña
2,2021-06-16,Cobee,Financial_Controller,Madrid
3,2021-06-09,Mgroup Consultoria en Recursos Humanos,Administrative,Cataluña
4,2021-06-10,Spin (Ford Mobility),General_Manager,Cataluña

In [4]:
df.title.value_counts()

Sales_Specialist                                             3452
Technician                                                   3156
SW_APP_Developer                                             2453
Data_Analytics                                               2217
Shop_Agent                                                   1926
                                                             ...
presupuesto para reparación de una cinta de correr reebok       1
strategic alliances manager                                     1
técnico de selección de personal                                1
soldadors/es                                                    1
auditor/a senior en riesgo tecnológico                          1
Name: title, Length: 6516, dtype: int64

In [5]:
#SW_Developer
df.loc[df["title"].str.contains("desarollador/a", case=False), "title"] = "SW_APP_Developer"
df.loc[df["title"].str.contains("desarollado", case=False), "title"] = "SW_APP_Developer"

#Marketing
df.loc[df["title"].str.contains("comunicación", case=False), "title"] = "Marketing"

#Network_Expert
df.loc[df["title"].str.contains("comunicaciones", case=False), "title"] = "Network_Expert"

#Other_Egineer
df.loc[df["title"].str.contains("ingeniero/a", case=False), "title"] = "Other_Engineer"
df.loc[df["title"].str.contains("ingeniería", case=False), "title"] = "Other_Engineer"

In [6]:
df.title.value_counts()

Sales_Specialist                                             3452
Technician                                                   3156
SW_APP_Developer                                             2454
Data_Analytics                                               2217
Shop_Agent                                                   1926
                                                             ...
seo specialist - bilingue italiano                              1
chofer reparto                                                  1
presupuesto reforma integral para vivienda más de 40 años       1
presupuesto para reparación de una cinta de correr reebok       1
auditor/a senior en riesgo tecnológico                          1
Name: title, Length: 6373, dtype: int64

In [7]:
#Job Function
function={
"Frontend_Developer":"Tech","Backend_Developer":"Tech","Data_Analytics":"Tech"
,"Cybersecurity":"Tech","Cloud_Expert":"Tech","UX/UI_Designer":"Tech"
,"System_Admin":"Tech","SW_APP_Developer":"Tech","Network_Expert":"Tech"
,"QA_Engineer":"Tech","IT_Support":"Tech","Solution_Architect":"Tech"   
,"Director": "Management","Project_Manager":"Management","CustomerSuccess_Manager" :"Management"
,"Product_Manager" :"Management","Vendor_manager":"Management","Area_Manager":"Management"
,"Scrum_Master":"Quality & Process","Process_Expert":"Quality & Process"
,"Quality_Manager":"Quality & Process","Business_Developer":"Sales","Account_Manager":"Sales"
,"Sales_Specialist":"Sales","Presale_Specialist":"Sales"
,"General_Manager":"Operations","Regional_Manger":"Operations"
,"Operations_Staff":"Operations","Customer_Service":"Operations","Field_Engineer":"Operations"
,"Other_Engineer":"Operations","Supervisor":"Operations","Marketing":"Marketing","Media":"Marketing"
,"Financial_Advisor":"Finance","Financial_Controller":"Finance","Lawyer":"Finance"
,"Consultant":"Finance","Talent_Specialist":"Talent_Specialist","Nurse":"Health_Care"
,"Doctor":"Health_Care","Physiotherapist":"Health_Care"
,"Pharmacy_Technician":"Health_Care","Health_Assitant":"Health_Care"
,"Health_Dental":"Health_Care","nutritionist":"Health_Care","Veterinarian":"Health_Care"
,"Construction":"Construction","Realestate":"Realestate_Agent"
,"Researcher":"Education","Internship":"Education","Teacher":"Education"
,"Dog_Trainer":"Services","Fitness":"Services","Cook":"Services","Waiter":"Services"
,"Driver":"Services" ,"Housekeeper":"Services","Operator":"Services","Warehouse":"Services"
,"Auxiliary_Staff":"Services","Shop_Agent":"Services","Assitant":"Services"
,"Administrative":"Services","Technician":"Services","Welfare":"Services"
,"Art_Design":"Art_Design"    
}

In [8]:
#Creating Job Function Column
df['Job_function']=df['title'].map(function)
df['Job_function']=df['Job_function'].fillna("other")

In [9]:
df.head()

,date,company,title,location,Job_function
0,2021-06-08,#AttittudTalent Atraer y Desarrollar el Talento,General_Manager,Madrid,Operations
1,2021-06-14,"PROCURA MANAGEMENT SERVICES, S.L",Customer_Service,Cataluña,Operations
2,2021-06-16,Cobee,Financial_Controller,Madrid,Finance
3,2021-06-09,Mgroup Consultoria en Recursos Humanos,Administrative,Cataluña,Services
4,2021-06-10,Spin (Ford Mobility),General_Manager,Cataluña,Operations

In [10]:
#Export data to CSV
df=df.to_csv('df4.csv',encoding='utf-8-sig', index=False)