In [1]:
#import libraries
import numpy as np
import pandas as pd

In [2]:
#read csv
df=pd.read_csv("data.csv")

In [3]:
df.shape

(1880, 7)

In [4]:
df.columns

Index(['Date', 'Company', 'Title', 'Location', 'Job Seniorty',
       'Company Industry', 'Job link'],
      dtype='object')

In [5]:
#delete %100 duplicated rows
df=df.drop_duplicates()

In [6]:
df.shape

(940, 7)

In [7]:
#formating columns to lower
df.columns=df.columns.str.lower()

In [8]:
#Checking title columnn
df.title.value_counts()

Data Engineer                                                          60
Data Scientist                                                         56
Business Analyst                                                       33
Data Analyst                                                           27
Senior Data Analyst                                                    20
                                                                       ..
Health Management Data Scientist                                        1
Data Analiyst                                                           1
DATA SCIENTIST amplia experiencia en ML - apasionada(o) del Deporte     1
Analytics Consultant                                                    1
Senior web analyst                                                      1
Name: title, Length: 427, dtype: int64

In [9]:
df.title=df.title.str.lstrip()
df.title=df.title.str.rstrip()
df.title=df.title.str.lower()

In [10]:
df.loc[df["title"].str.contains("data analyst", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("analista", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("product", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("solutions", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("intelligence", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("analytics", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("research analyst", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("big data", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("consultant", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("strategy", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("bi analyst", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("quality", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("digital", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("marketing", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("senior analyst", case=False), "title"] = "Data_Analyst"
df.loc[df["title"].str.contains("technical analyst", case=False), "title"] = "Data_Analyst"


df.loc[df["title"].str.contains("engineer", case=False), "title"] = "Data_Engineer"
df.loc[df["title"].str.contains("ingeniero", case=False), "title"] = "Data_Engineer"
df.loc[df["title"].str.contains("data architect", case=False), "title"] = "Data_Engineer"
df.loc[df["title"].str.contains("programador", case=False), "title"] = "Data_Engineer"
df.loc[df["title"].str.contains("desarrolladores", case=False), "title"] = "Data_Engineer"
df.loc[df["title"].str.contains("developer", case=False), "title"] = "Data_Engineer"
df.loc[df["title"].str.contains("desarrollador", case=False), "title"] = "Data_Engineer"


df.loc[df["title"].str.contains("scientist", case=False), "title"] = "Data_Scientist"
df.loc[df["title"].str.contains("cientifico", case=False), "title"] = "Data_Scientist"
df.loc[df["title"].str.contains("research", case=False), "title"] = "Data_Scientist"


df.loc[df["title"].str.contains("business", case=False), "title"] = "Business_Analyst"

In [11]:
#Checking title columnn
df.title.value_counts()

Data_Analyst                                                         375
Data_Engineer                                                        272
Business_Analyst                                                     146
Data_Scientist                                                       104
bi-data-analyst                                                        3
trainee analyst - foodservice spain                                    3
junior supply chain analyst                                            3
bi team lead                                                           2
data analysis internship ( madrid).                                    2
especialista en estadística médica                                     2
senior director analyst - cloud service offerings - europe remote      2
campaign manager (remote)                                              2
arquitecto de datos azure                                              2
software garatzailea                                                   2
proyecto nucleus                                                       2
software crafter                                                       2
senior pricing analyst                                                 2
investor relations analyst                                             2
workday hris specialist / analyst                                      2
junior functional analyst (22k-26k €)                                  1
sr. data visualization analyst                                         1
científico de datos                                                    1
data analiyst                                                          1
consultor bi                                                           1
senior web analyst                                                     1
customer insights analyst                                              1
mathematical programmer (c++)                                          1
data & tech analyst                                                    1
entry level - software analyst support                                 1
Name: title, dtype: int64

In [12]:
#Checking title columnn
df.company.value_counts()

Amazon                             5
The Cocktail                       5
Gelato                             5
TravelPerk                         5
Scopely                            5
                                  ..
The Knot Worldwide                 1
TRIGO                              1
EDP Renewables                     1
HCR | Human Centric Recruitment    1
Fittest Freakest                   1
Name: company, Length: 481, dtype: int64

In [13]:
df.company=df.company.str.lstrip()
df.company=df.company.str.rstrip()
df.company=df.company.str.lower()

In [14]:
#Export data to CSV
df=df.to_csv('df.csv',encoding='utf-8-sig', index=False)